Repository DanielMinton/Invest-With-Presence: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:lint, frontend:test, backend:lint, backend:test

.gitlab-ci.yml:

# Bastion CI/CD Pipeline

stages:
  - lint
  - test
  - build

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  NPM_CONFIG_CACHE: "$CI_PROJECT_DIR/.cache/npm"

# Cache dependencies between jobs
cache:
  paths:
    - .cache/pip
    - .cache/npm
    - frontend/node_modules/

# ============================================
# FRONTEND
# ============================================

frontend:lint:
  stage: lint
  image: node:20-alpine
  script:
    - cd frontend
    - npm ci
    - npm run lint
    - npm run type-check
  only:
    changes:
      - frontend/**/*

frontend:test:
  stage: test
  image: node:20-alpine
  script:
    - cd frontend
    - npm ci
    - npm run test --if-present
  only:
    changes:
      - frontend/**/*

frontend:build:
  stage: build
  image: node:20-alpine
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/.next/
    expire_in: 1 week
  only:
    - main
    - develop

# ============================================
# BACKEND
# ============================================

backend:lint:
  stage: lint
  image: python:3.12-slim
  script:
    - cd backend
    - pip install ruff
    - ruff check .
  only:
    changes:
      - backend/**/*

backend:test:
  stage: test
  image: python:3.12-slim
  script:
    - cd backend
    - pip install -r requirements.txt
    - python manage.py test
  only:
    changes:
      - backend/**/*

Refactor: Core vs Context repository restructure
  .gitignore
  README.md
  docs/FULL_INTEGRATION_codex_v1.0.pdf
  docs/PROJECT_BRIEF.md
  docs/architecture/overview.md
  docs/compliance/overview.md
  docs/discovery/decision-log.md
  docs/discovery/workflow-truth.md
  docs/milestones/phase-tracker.md
  docs/security/baseline.md
  docs/templates/meeting-pack.md
  docs/templates/weekly-briefing.md
Due: none

Switch CI/CD from GitLab to GitHub Actions
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: none

Add project infrastructure and developer tooling
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  backend/.env.example
  backend/requirements.txt
  frontend/.env.example
  scripts/setup-github-project.sh
  scripts/setup-local.sh
Due: frontend:lint, frontend:test, backend:lint, backend:test

Add Hub authentication system
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/hub/hub-layout-client.tsx
  frontend/src/app/hub/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/index.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/hooks/index.ts
  frontend/src/lib/hooks/use-auth.ts
  frontend/src/lib/stores/auth-store.ts
  frontend/src/lib/stores/index.ts
  frontend/src/styles/globals.css
Due: frontend:lint, frontend:test

Add Django authentication API endpoints
  backend/bastion/api/serializers/__init__.py
  backend/bastion/api/serializers/auth.py
  backend/bastion/api/urls.py
  backend/bastion/api/views/__init__.py
  backend/bastion/api/views/auth.py
  backend/bastion/audit/services.py
  backend/bastion/core/management/__init__.py
  backend/bastion/core/management/commands/__init__.py
  backend/bastion/core/management/commands/createtestuser.py
  backend/bastion/settings/base.py
Due: backend:lint, backend:test

Add missing migrations and fix auth throttle scope
  backend/bastion/api/views/__init__.py
  backend/bastion/api/views/auth.py
  backend/bastion/audit/migrations/0001_initial.py
  backend/bastion/audit/migrations/__init__.py
  backend/bastion/core/migrations/0001_initial.py
  backend/bastion/core/migrations/__init__.py
  backend/bastion/settings/development.py
Due: backend:lint, backend:test

Fix API URL to match backend routes
  frontend/src/lib/api/client.ts
Due: frontend:lint, frontend:test

Fix Django authenticate() to use username kwarg
  backend/bastion/api/serializers/auth.py
Due: backend:lint, backend:test

Fix API URL in env example - remove /v1
  frontend/.env.example
Due: frontend:lint, frontend:test

Add complete prototype: clients, documents, briefings, admin
  backend/bastion/api/serializers/__init__.py
  backend/bastion/api/serializers/briefings.py
  backend/bastion/api/serializers/core.py
  backend/bastion/api/serializers/documents.py
  backend/bastion/api/urls.py
  backend/bastion/api/views/__init__.py
  backend/bastion/api/views/briefings.py
  backend/bastion/api/views/core.py
  backend/bastion/api/views/dashboard.py
  backend/bastion/api/views/documents.py
  backend/bastion/briefings/migrations/0001_initial.py
  backend/bastion/briefings/migrations/0002_initial.py
  backend/bastion/briefings/migrations/__init__.py
  backend/bastion/briefings/models.py
  backend/bastion/core/management/commands/seeddata.py
  backend/bastion/documents/migrations/0001_initial.py
  backend/bastion/documents/migrations/__init__.py
  backend/bastion/documents/models.py
  frontend/src/app/hub/audit/page.tsx
  frontend/src/app/hub/briefings/page.tsx
  frontend/src/app/hub/clients/[id]/page.tsx
  frontend/src/app/hub/clients/page.tsx
  frontend/src/app/hub/documents/page.tsx
  frontend/src/app/hub/settings/page.tsx
  frontend/src/app/hub/users/page.tsx
  frontend/src/components/hub/hub-dashboard.tsx
  frontend/src/components/hub/hub-sidebar.tsx
  frontend/src/lib/api/briefings.ts
  frontend/src/lib/api/clients.ts
  frontend/src/lib/api/dashboard.ts
  frontend/src/lib/api/documents.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/users.ts
  frontend/src/lib/providers/smooth-scroll.tsx
  frontend/src/lib/utils.ts
Due: frontend:lint, frontend:test, backend:lint, backend:test

Add project documentation and startup scripts
  CLAUDE.md
  README.md
  scripts/claude-init.md
  scripts/start-dev.sh
Due: none
